* {
  margin: 0;
}

html {
  font-size: 10px;
}

.wrapper {
  background-color: black;
  color: white;
  font-size: 1.6rem;
}

section {
  padding: 0px;
}

.contain-title {
  display: flex;
  align-items: center;
  flex-direction: column;

  .title-main {
    font-size: 3.3rem;
    font-weight: bold;
    margin-top: 80px;
  }
}

.title-line {
  width: 60px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 37px;

  &::after {
    content: '';
    width: 100%;
    position: absolute;
    height: 2px;
    background-color: #474747;
  }

  &.title-line-text {
    position: relative;
    width: 220px;
    display: flex;
    justify-content: center;

    .text {
      position: absolute;
      top: 0;
      margin-top: -10px;
      background-color: black;
      z-index: 50;
      padding: 0px 10px;
    }
  }
}

// Section top
.section-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 110px;

  h1.title {
    font-size: 4.6rem;
    text-align: center;
    line-height: 50px;
  }
}

// Section content
.section-content {
  .contract-plan {
    margin: 82px 0px;

    .title {
      font-size: 3.3rem;
      text-align: center;
      margin-bottom: 43px;
      font-weight: bold;
    }
  }

  .link p {
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 20px;
    text-align: center;

    a {
      color: #00FF00;
      text-decoration: underline;
    }
  }

  .purchase-history {
    margin: 82px 0px;

    .title {
      font-size: 3.3rem;
      text-align: center;
      margin-bottom: 43px;
      font-weight: bold;
    }
  }
}

.table {
  display: grid;
  grid-template-columns: 30% 70%;
  font-size: 2rem;

  >.cell {
    padding: 22px 40px;
    border: 1px solid #707070;
  }

  .cell:nth-child(odd) {
    border-left: 0;
  }

  .cell:nth-child(even) {
    border-right: 0;
  }
}

@media (max-width: 575px) {
  html {
    font-size: 8px;
  }
  .section-top {
    padding: 0 40px;
  }

  .table {
    grid-template-columns: 40% 60%;
  }
}